.calculator {
    width: 1468px;
    height: 998px;
    top: -218px;
    left: 5205px;
    padding: 148px 466px 148px 466px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
  }

.screen-current {
    max-inline-size: 10rem;
}

.last-buttons {
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;


}